.Board {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  border: 1px solid black;
}

.Board__row {
  display: flex;
  justify-content: stretch;
  align-items: center;
}

.Board__cell {
  height: 5rem;
  font-size: 3.5rem;
  background-color: rgb(180, 180, 180);
  flex-basis: 20%;
  /* border: black solid 2px; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
  box-shadow: inset 0px 0px 5px rgb(59, 59, 59);
}

.Board__cell-empty {
  background-color: gray;
  cursor: pointer;
}

.Board__cell-player-1 {
  background-color: gold;
}

.Board__cell-player-2 {
  background-color: turquoise;
}

@media (min-width: 500px) {
  .Board__cell {
    height: 7rem;
    font-size: 5rem;
  }
}

@media (min-width: 700px) {
  .Board {
    width: 630px;
  }
  .Board__cell {
    height: 8rem;
    font-size: 6rem;
    margin: 3px;
  }
}
