.Buttons {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  width: 90%;
}

.Buttons__content {
  font-size: 4.5rem;
  background-color: gray;
  width: 10rem;
  text-align: center;
  margin-top: 1rem;
  border-radius: 10px;
  border: 3px solid black;
  font-weight: 500;
  cursor: pointer;
  box-shadow: inset 0px 0px 5px rgb(100, 100, 100);
}

.Buttons__content:active {
  background-color: rgb(187, 187, 187);
}