.Header__title {
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  font-size: 4.5rem;
}

@media (min-width: 700px) {
  .Header__title {
    font-size: 6rem;
  }
}
