/* .Score {
  background-color: #252525;
  width: 80%;
  max-width: 90vw;
  margin: 1rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 15px;
  border: 4px solid black;
  font-family: monospace;
} */

.Score {
  display: flex;
  flex-wrap: wrap;
  grid-area: score;
  justify-content: space-around;
  font-family: monospace;
  width: 80%;
  background-color: #252525;
  border: 4px solid black;
  border-radius: 15px;
}

.Score__content {
  text-align: center;
  margin: 1rem 1rem;
  color: whitesmoke;
}

.Score__content__name {
  font-size: 1.8rem;
  font-weight: 300;
}

.Score__content__points {
  font-size: 2.5rem;
  font-weight: bold;
}

.Score__content__points::after {
  content: " pts";
}

@media (min-width: 600px) {
  .Score__content__name {
    font-size: 2rem;
  }

  .Score__content__points {
    font-size: 3rem;
  }
}
