.GamePage {
  display: grid;
  grid-template-areas:
    "score"
    "board"
    "board"
    "board"
    "buttons";
  place-items: center;
  row-gap: 1rem;
  height: 100%;
}

@media (min-width: 600px) {
  .GamePage {
    display: grid;
    grid-template-areas:
      "board board score"
      "board board buttons";
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    height: 100%;
  }
}

@media (min-width: 1000px) {
  .GamePage {
    display: grid;
    grid-template-areas: "score score board board board board board buttons buttons";
    grid-template-columns: repeat(9, 1fr);
    place-items: center;
    height: 100%;
  }
}
